/* Icon definitions using CSS for reliability */
.icon-csv::before {
    content: 'CSV';
    font-size: 0.6rem;
    font-weight: 700;
    color: #217346;
}

.icon-xlsx::before {
    content: 'X';
    font-size: 0.7rem;
    font-weight: 700;
    color: #217346;
}

.icon-xls::before {
    content: 'XLS';
    font-size: 0.5rem;
    font-weight: 700;
    color: #217346;
}

.icon-dbf::before {
    content: 'DBF';
    font-size: 0.5rem;
    font-weight: 700;
    color: #217346;
}